.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.sidebar {
  background-color: rgba(110, 110, 110, 0.4);
  backdrop-filter: blur(5px);
  padding: 5px;
  border-radius: 12px;
  gap: 20px;
  display: flex;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.avatar {
  width: 45px;
  height: auto;
  border-radius: 35%;
}

.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
}

.subtitle {
  font-size: 15px;
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  height: 100%;
  padding-top: 65px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 3px;
  }

  .header {
    justify-content: center;
  }
}
