/* Обнуление стилей по умолчанию */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 100%;
  gap: 20px;
  height: 100%;
  position: relative;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.sidebar {
  background-color: rgba(110, 110, 110, 0.4);
  backdrop-filter: blur(5px);
  padding: 5px;
  border-radius: 12px;
  gap: 20px;
  display: flex;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.avatarBlock {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 45px;
  height: auto;
  border-radius: 35%;
}

.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
}

.subtitle {
  font-size: 15px;
  margin-bottom: 0;
}

.topic {
  margin-bottom: 0;
  font-size: 10px;
}

.description {
  font-size: 16px;
  color: #e0e0e0;
}

.staff {
  margin-top: 20px;
  display: flex;
}

.staffMember {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.staffMember:last-child {
  border-bottom: none;
}

.staffAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.postsBlock {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.searchInput {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #cccccc;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  outline: none;
  height: 25px;
}

.searchInput::placeholder {
  color: #cccccc;
}

.searchIcon, .icon {
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s ease;
  font-size: 20px;
}

.searchIcon:hover, .icon:hover {
  color: #ff9800;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  height: 100%;
  padding-top: 65px; /* Высота отступа, равная высоте sidebar */
}

.media-carousel, .media-grid, .media-list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 3px;
  }

  .header {
    justify-content: center;
  }
}

/* Overlay for the description */
.descriptionOverlay {
  padding: 10px;
  background-color: rgba(28, 28, 28, 0.95); /* Darker and more transparent */
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6); /* Soft shadow for depth */
  color: #ffffff;
  overflow-y: auto;
  width: 100%;
  max-width: 400px;
}

/* Для мобильных устройств */
@media (max-width: 768px) {
    .descriptionOverlay,
    .settingsOverlay {
      height: 100%;
      position: absolute;
      z-index: 2;
      max-width: none;
    }
}

/* Стили для полосы прокрутки */
.posts::-webkit-scrollbar,
.descriptionOverlay::-webkit-scrollbar,
.settingsOverlay::-webkit-scrollbar {
  width: 6px; /* Тонкая полоса прокрутки */
}

.posts::-webkit-scrollbar-track,
.descriptionOverlay::-webkit-scrollbar-track,
.settingsOverlay::-webkit-scrollbar-track {
  background: transparent; /* Прозрачный трек */
  margin-top: 65px; /* Сдвигаем трек на высоту верхнего отступа */
}

.posts::-webkit-scrollbar-thumb,
.descriptionOverlay::-webkit-scrollbar-thumb,
.settingsOverlay::-webkit-scrollbar-thumb {
  background-color: orange; /* Оранжевый цвет полосы прокрутки */
  border-radius: 8px; /* Закругленные края */
}

.posts::-webkit-scrollbar-thumb:hover,
.descriptionOverlay::-webkit-scrollbar-thumb:hover,
.settingsOverlay::-webkit-scrollbar-thumb:hover {
  background-color: #ff8c00; /* Более яркий оранжевый при наведении */
}


/* Cover image and dark overlay for background */
.coverImage {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

.darkOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Stronger dark overlay */
}

.avatarContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.avatarInDescription {
  width: 100px;
  height: 100px;
  border-radius: 35%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.groupInfo {
  margin-left: 20px;
}

.groupInfo h1 {
  font-size: clamp(16px, 2.5vw, 26px);
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.groupInfo p {
  font-size: 16px;
  color: #d3d3d3;
  margin-top: 5px;
}

.linkButton {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.linkButton:hover {
  transform: scale(1.1);
}

.linkButton:active {
  transform: scale(0.9);
}

/* Modal overlay and content */
.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  position: relative;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
}

.closeButton:hover {
  color: #ff9800;
}



.qrCodeContainer {
  margin-top: 20px;
}

/* Information sections */
.infoSection {
  margin-top: 15px;
  padding: 10px;
  background-color: #2a2a2a;
  border-radius: 8px;
}

.section {
  display: flex;
  align-items: center;
}

.sectionIcon {
  font-size: 13px;
  margin-right: 5px;
}

.subscriptionBlock {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.subscribeButton, .unsubscribeButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  border: 2px solid;
  background-color: rgba(0, 0, 0, 0.2);
}

.subscribeButton {
  border-color: orange !important;
  color: #ffffff;
}

.unsubscribeButton {
  color: #ffffff;
}

.subscribeButton:hover, .unsubscribeButton:hover {
  opacity: 0.8;
}

/* Admin button */
.adminButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: #ff9800;
  margin-top: 10px;
}

.adminButton:hover {
  transform: scale(1.1);
}

/* Settings Overlay */
.settingsOverlay {
  background-color: rgba(28, 28, 28, 0.95);
  color: #ffffff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  max-width: 400px;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  height: 100%;
}

.overlayHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
}

.overlayHeader h3 {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  flex-grow: 1;
}

.backIcon {
  font-size: 22px;
  cursor: pointer;
  color: #ffffff;
}

.closeIcon {
  font-size: 22px;
  cursor: pointer;
  color: #ffffff;
}

.closeIcon:hover {
  color: #ff9800;
}

.inputGroup {
  margin-top: 20px;
}

.inputGroup label {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 5px;
}

.inputGroup input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #444444;
  border-radius: 8px;
  margin-bottom: 15px;
}

.inputGroup input:focus {
  outline: none;
  border-color: #ff9800;
}

.imagePreview {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-top: 10px;
  object-fit: cover;
}

/* Error message */
.error {
  color: #ff0000;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

/* Save Button */
.saveButton {
  text-align: center;
  margin-top: 20px;
}

.saveButton button {
  background-color: #ff9800;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveButton button:hover {
  background-color: #ff8c00;
}

.description {
  display: block;
  margin-top: 5px;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.descriptionHead {
  font-size: 13px;
}

.qrButton {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.qrButton:hover {
  transform: scale(1.1);
}

.qrIcon {
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
  margin-left: 10px;
}

.qrIcon:hover {
  color: #ff9800;
}
