.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileBlock {
    width: 100%;
    height: 75%;
    background-color: #1c1f26;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid violet;
}

.profileHeader {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #1c1f26;
    z-index: 10;
}

.profileCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.profileCover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileAvatar {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    overflow: visible; /* Скрывает содержимое за границами */
    margin-right: 20px;
    z-index: 1;
}

.profileAvatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Скругляем изображение */
}

.statusIndicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: 3px solid black;
    border-radius: 5px;
}

.statusIndicator::after {
    content: attr(data-status);
    position: absolute;
    left: 30px; /* Расположение текста относительно статуса */
    bottom: -3px; /* Отступ от нижней границы */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3px;
    border-radius: 5px;
    white-space: nowrap;
    color: white;
    display: none;
    font-size: 15px;
}

.statusIndicator:hover::after {
    display: block;
}


.customStatusIndicator {
    position: absolute;
    bottom: 0px; /* Располагаем ниже границ аватара */
    right: 0px;  /* Располагаем за границами аватара */
    width: 25px;
    height: 25px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px; /* Сделаем размер символа меньше, чтобы вмещался в кружке */
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    z-index: 2;
}

.customStatusIndicator::after {
    content: attr(data-status);
    position: absolute;
    left: 30px; /* Расположение текста относительно статуса */
    bottom: 0; /* Отступ от нижней границы */
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 3px;
    border-radius: 5px;
    white-space: nowrap;
    display: none;
    font-size: 15px;
}

.customStatusIndicator:hover::after {
    display: block;
}


.profileInfo {
    flex: 1;
    z-index: 1;
}

.profileNames {
    margin: 0;
    font-size: 35px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    text-shadow: 1px 1px 5px black;
}

.profileTags {
    display: flex;
    margin-top: 10px;
}

.tag {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
}

.addTag {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.profileActions {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #1c1f26;
}

.actionButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ActionsButtons {
    display: flex;
    flex-direction: reverse;
    margin-top: 10px;
}

.userActions {
    background-color: #1c1f26;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px 25px;
    border-bottom: 1px solid #444;
    position: relative;
}

.userActions::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #1c1f26);
    z-index: -1;
}

.userActionsBtn {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.userActionsBtn:hover {
    background-color: rgba(206, 1, 252, 0.3);
}

.actionIcon {
    margin-right: 5px;
}

.moreOptionsBtn {
    position: relative;
    padding: 10px 15px;
    margin-right: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.moreOptionsBtn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.moreOptionsMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
    font-size: 15px;
}

.moreOptionsBtn:hover .moreOptionsMenu {
    display: block;
}

.moreOptionsMenu a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.moreOptionsMenu a:hover {
    background-color: #444;
}

.moreOptionsMenu .actionIcon {
    margin-right: 5px;
}

.guestView {
    text-align: center;
    margin: 10px 0;
}

.ownerControls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.profileMenu {
    display: flex;
    align-items: center;
    padding: 10px 30%;
    background-color: #2c2f36;
    border-bottom: 1px solid #444;
}

.menuItem {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s linear 0s;
}

.menuItem:hover {
    color: rgb(206 1 252);
}

.profileContent {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #1c1f26;
    color: #fff;
}

.contentSection {
    margin-bottom: 20px;
}

.contentSection h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #fff;
}

.contentSection p {
    margin: 0;
    font-size: 16px;
    color: #ccc;
}

.contentSection ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contentSection li {
    margin-bottom: 5px;
    font-size: 16px;
    color: #ccc;
}

.menuCollapsed {
    opacity: 0.5;
    margin-top: -50px;
}
