/* SearchPage.module.css */
.searchPage {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    color: white;
    padding: 15px;
    height: 100%;
}

@media (max-width: 1199px) {
    .searchPage {
        padding: 10px;
        width: 100%;
    }
}


.profileCard {
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    margin-top: 5px;
    padding: 5px;
    transition: background-color .3s;
    background: #1b1b1b;
}

.profileCard:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.profileAvatar {
    width: 60px;
    height: 60px;
    flex: 0 0 60px;
    margin-right: 15px;
}

.profileAvatar img {
    border-radius: 35%;
    font-size: 5px;
    width: 60px;
    height: 60px;
}

.statusIndicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #4caf50;
}

.customStatusIndicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    background-color: rgba(255, 127, 0, 0.8);
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    z-index: 2;
}

.profileInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.profileInfo h2 {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    color: white;
}

.profileInfo p {
    margin: 0;
    font-size: 14px;
    color: grey;
}

.profileInfo .highlight {
    color: #ff7f00;
}

.searchInfo {
    margin-top: 10px;
    font-size: 12px;
    color: white;
    opacity: 0.8;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background: #1b1b1b;
}

.searchBar input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

.tabButtons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tabButtons button {
    border-radius: 15px;
    padding: 5px 10px;
    margin: 0 5px;
    background: #1b1b1b;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    border: none;
}

.tabButtons .activeTab {
    border-bottom: 1px solid;
}

.results {
    margin-top: 10px;
}
