/* SearchPage.module.css */
.searchPage {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    color: white;
    padding: 15px;
}

@media (max-width: 1199px) {
    .searchPage {
        padding: 10px;
        width: 100%;
    }
}

.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.searchBar input {
    width: 70%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.searchBar button {
    margin-left: 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #ff7f00;
    color: #fff;
    cursor: pointer;
}

.filterButton {
    background-color: #4caf50;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}

.filter {
    flex: 1;
    margin-right: 10px;
}

.filter label {
    display: block;
    margin-bottom: 5px;
}

.filter select,
.filter input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.searchSummary {
    margin-bottom: 20px;
}

.results {
    display: flex;
    flex-direction: column;
}

.profileCard {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-size: cover;
    background-position: center;
}

.profileAvatar {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 25%;
    overflow: visible; /* Скрывает содержимое за границами */
    margin-right: 20px;
    z-index: 1;
}

.profileAvatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Скругляем изображение */
}

.statusIndicator {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border: 3px solid black;
    border-radius: 5px;
}

.customStatusIndicator {
    position: absolute;
    bottom: 0px; /* Располагаем ниже границ аватара */
    right: 0px;  /* Располагаем за границами аватара */
    width: 20px;
    height: 20px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px; /* Сделаем размер символа меньше, чтобы вмещался в кружке */
    text-shadow: 1px 1px 2px black;
    cursor: pointer;
    z-index: 2;
}

.profileInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileInfo h2 {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
    color: white;
}

.profileInfo p {
    margin: 0;
    font-size: 14px;
    color: grey;
}

.profileInfo .highlight {
    color: #ff7f00;
}

.searchInfo {
    margin-top: 10px;
    font-size: 12px;
}


