/* Sidebar.css */
.sidebar {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 75vh;
    background-color: #1c1f26;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: width 0.5s ease;
    z-index: 100;
    border: 1px solid violet;
}

.sidebar:hover {
    width: 250px;
    transition-delay: 0.5s;
}

.sidebar-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: left;
    transition: opacity 0.3s ease;
}

.sidebar:hover .sidebar-content {
    opacity: 1;
    transition-delay: 0.5s;
}

.profile-button {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.profile-button:hover, .sidebar-button:hover {
    transform: scale(1.05);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar:hover .profile-name {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.7s;
}

.sidebar-button {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.sidebar-button i {
    margin-right: 15px;
    margin-left: 5px;
    font-size: 25px;
}

.sidebar-button span {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar:hover .sidebar-button span {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.7s;
}

.sidebar-button.active, .profile-button.active {
    background-color: #4b4f57;
    border-left: 4px solid orange;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 100px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333333;
}

p {
    color: #666666;
}

.icon {
    margin-right: 15px;
    margin-left: 5px;
    font-size: 25px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}

.logo img {
    width: 33px;
    height: 40px;
    display: inline-block;
}

.logo .network-name {
    font-size: 24px;
    color: #ff7f00;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar:hover .logo .network-name {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.7s;
}

.sidebar .logo .network-name {
    opacity: 0;
    visibility: hidden;
}

.guestView a {
    color: orange;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinner div {
    width: 15px;
    height: 15px;
    background-color: #ff7f00;
    border-radius: 50%;
    margin: 3px;
    animation: bounce 1.2s infinite ease-in-out both;
}

.spinner div:nth-child(1) {
    animation-delay: -0.32s;
}

.spinner div:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
