.filters {
  width: 150px;
  padding: 10px;
  background-color: rgba(41, 41, 41, 0.5);
  border-right: 1px solid #3e3e3e;
}

.favorite, .filter, .folder {
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  background-color: #757575;
  border-radius: 50%;
  margin-right: 10px;
}

.text {
  flex-grow: 1;
  color: #ffffff;
}

.badge {
  background-color: #ff5722;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  color: #ffffff;
}

.divider {
  border-top: 1px solid #3e3e3e;
  margin: 10px 0;
}

/* Мобильная версия */
@media (max-width: 768px) {
  .filters {
    display: flex;
    overflow-x: auto;
    padding: 5px;
    background-color: transparent;
    border-right: none;
    white-space: nowrap;
    width: 100%;
  }

  .favorite, .filter, .folder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    margin-right: 10px;
    min-width: 120px;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-color: #757575;
  }

  .text {
    flex-grow: 0;
    font-size: 14px;
    margin-right: 10px;
  }

  .badge {
    font-size: 10px;
    padding: 1px 5px;
  }
}

.divider {
  border-top: 1px solid #3e3e3e;
  margin: 10px 0;
}