.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Начальное состояние (прозрачное) */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: background-color 0.5s ease; /* Плавный переход */
}

.overlay.active {
  background-color: rgba(0, 0, 0, 0.4); /* Затемнённый фон */
}

.menu {
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(44, 44, 44, 0.95);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actions button {
  background-color: #444;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.actions button:hover {
  background-color: #666;
}

.noActions {
  text-align: center;
  color: #888;
}

.editContainer {
  display: flex;
  flex-direction: column;
}

.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  color: white;
  border: 1px solid #555;
  border-radius: 4px;
}
