.messageGroup {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  position: relative;
}

.groupStart .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.messageGroup.otherMessage {
  margin-top: -6;
  margin-left: 30px;
  margin-right: 30px;
}

.message {
  max-width: 70%;
  padding: 10px 12px;
  border-radius: 15px;
  position: relative;
  margin: 0;
  transition: transform 0.3s ease;
}


.name {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
}

.text {
  font-size: 14px;
  word-break: break-word;
}

.time {
  font-size: 10px;
  color: #989898;
  text-align: right;
  position: absolute;
  bottom: -2px;
  font-weight: bold;
}

.timeRight {
  left: -35px;
}

.timeLeft {
  right: -35px;
}

.status {
  position: absolute;
  bottom: 0;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 25%;
  background-size: cover;
  background-position: center;
}

.replyIcon {
  position: absolute;
  bottom: 15px;
  right: -25px;
  cursor: pointer;
  color: #ffffff9c;
  font-size: 10px;
  background-color: #84848433;
  border-radius: 50%;
  padding: 5px;
}

.replyBox {
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 4px;
  position: relative;
  border-left: 5px solid aqua;
  background-color: rgba(0, 0, 0, 0.2);
}

.replyName {
  font-weight: bold;
  font-size: 9px;
  margin-bottom: 2px;
}

.replyText {
  font-size: 10px;
}

.user {
  background-color: #1e88e5;
  color: #ffffff;
  align-self: flex-end;
  border-top-right-radius: 0px;
  float: right;
  margin-left: auto;
  margin-right: 10px;
}

.friend {
  background-color: #757575;
  color: #ffffff;
  align-self: flex-start;
  border-top-left-radius: 0;
  float: left;
  margin-left: 10px;
}
