.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.resizer {
  width: 5px;
  background-color: #4a4a4a;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.noChatSelected {
  color: #b0b0b0;
  text-align: center;
  margin-top: 35%;
}

.noMessages {
  color: #b0b0b0;
  text-align: center;
  margin-top: 35%;
}

.startChatButton {
	position: absolute;
	bottom: 0px;
	width: -webkit-fill-available;
	width: -moz-available;
	padding: 8px;
	border-radius: 4px;
	color: white;
	background: #d24f00;
	border: none;
	cursor: pointer;
}

.closeButtonContainer {
  padding: 5px;
}

.closeButton {
  width: 100%;
  padding: 5px;
  border: none;
  background: rgba(67, 0, 0, 0.47);
  color: #ffffff;
  cursor: pointer;
}

.chatListContainer { /* Добавляем плавный переход */
  width: 30%;
  resize: horizontal;
  overflow: auto;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.chatActive {
  animation: slideIn 0.5s forwards;
}

.main:not(.chatActive) {
  animation: slideOut 0.5s forwards;
}

@media (max-width: 768px) {
  .main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 41, 41);
    z-index: 1000;
    height: 100%;
  }

  .chatActive {
    transform: translateY(0); /* Чат виден */
    display: flex;
  }


  .main:not(.chatActive) {
    transform: translateY(100%); /* Чат скрыт */
  }

  .chatListContainer {
      width: 100%;
      resize: none;
  }
}

