.searchPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3e3e3e;
}

.icons {
  display: flex;
  align-items: center;
  height: 30px;
}

.searchIcon, .settingsIcon {
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.searchInput {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #ffffff;
  outline: none;
  width: 0;
  opacity: 0;
  transition: width 0.3s, opacity 0.3s;
  height: 30px;
}

.searchIcon:hover {
  transform: scale(1.1);
}

.searchPanel .searchInput {
  width: 200px;
  opacity: 1;
}

.loadingText {
  margin-left: 2px;
  margin-right: 5px;
  margin-bottom: 0;
}

.searchPanel .searchInput:focus {
  width: 300px;
}

.searchPanel .searchInput:focus + p {
  opacity: 0;
}

.searchPanel .searchInput:focus + p + p {
  opacity: 1;
}

.searchPanel .searchInput:focus + p + p + p {
  opacity: 0;
}
