/* Sidebar Styles */
.mobileSidebarContainer {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.navBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 70px;
  height: 60px;
  color: #ccc;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.navItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.navItem:focus {
  outline: none;
}

.active {
  color: var(--accent-color);
  background-color: rgba(0, 0, 0, 0.59);
  box-shadow: 0 0 10px var(--accent-color);
}

.icon {
  font-size: 22px;
}

.label {
  font-size: 12px;
  margin-top: 5px;
}

.additionalMenu {
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  background-color: black;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.additionalMenu.open {
  max-height: 240px;
}

.additionalItem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.additionalItem:hover {
  background-color: #2e2e2e;
}

.additionalItem .icon {
  margin-right: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 25%;
  border: 1px solid;
  margin-left: 20px;
}

.profileContainer {
  display: flex;
  align-items: center;
}

.profileLabel {
  margin-left: 10px;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.statusIndicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border: 3px solid black;
  border-radius: 50%;
}

.customStatusIndicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px 2px black;
  z-index: 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loadingBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 14px;
  position: fixed;
  width: 100%;
  bottom: 65px;
  z-index: 999;
}

.loadingText {
  flex: 1;
  text-align: left;
  color: #ccc;
}

.navItem:focus {
  outline: none;
}

.navItem:active {
  transform: scale(0.95);
  transition: transform 0.2s;
}
